.footer{
    background: #24292f;
    color: #f9f9f9;
    min-height: 5em;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3em;
    padding-bottom: 1em;
    justify-content: space-around;
    .wrapper {
        .links {
            a {
                color: #f9f9f9;
                text-decoration: none;
            }
        }
        .logo {
            background-color: #999999;
            color: #222324;
            font-weight: bold;
            padding: 2em;
            font-size: 1.3em;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            span:first-child {
                position: absolute;
                right: 0.5em;
                top: 0.75em;
            }
            span:last-child {
                position: absolute;
                left: 0.5em;
                bottom: 0.75em;
            }
        }
        .projectAssistance > div {
            margin-bottom: 0.5em;
        }
        &:last-child {
            text-align: right;
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
        }
    }
}

@media screen and (max-width: 500px) {
    .footer{
        display: none;
    }
	/* .wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.site_name,
		.links {
			text-align: center;
			width: 100%;
		}
	} */
}